.header {
  padding: 20px 0;
  background-color: var(--secondary-dark);
}

.light .header {
  background-color: var(--secondary-light);
}

.header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header nav ul li a:hover {
  color: var(--accent-dark);
}

.light .header nav ul li a:hover {
  color: var(--accent-light);
}